@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
}

header h1 {
    font-size: 2.6rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;

}

.box {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 86%;
}

nav {
    width: 220px;
    height: 50em;
    overflow-y: scroll;
}

nav img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-left: 13px;
    display: block;
    margin-bottom: 2.5em;
    width: 150px;
    height: 188px;
    transition: -webkit-filter 1s linear, filter 1s linear;
}

nav img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.foto {
    display: flex;
    margin-left: 10px;
    left: 200px;
    width: 50%;
    height: 100%;

}

.foto > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto {
    width: 50%;
    padding: 1%;
    top: 50%;
    height: 25%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    float: left;
}

.titulo-cuadro {
    font-weight: 800;
}

.año, .precio {
    text-align: center;
}

.precio {
    font-weight: bold;
}

button {
    background-color: #97c1c0;
    text-align: center;
    font-weight: bold;
    padding: 0.93em 2em;
    border-radius: 0.75em;
    border: none;

}

button:hover {
    background-color: #04c5c0;
}

.foto img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imggrande {
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: center;
    z-index: 1;
    display: none;
}

.imggrande > span {
    position: absolute;
    height: 100%;
    width: 100%;
    color: transparent;
}